# Note on pod 0: 4.1 also changed how k8s peer discover works
# and currently if you lose server-0 (the pod with index 0), it won't rejoin
# the cluster automatically. Other nodes will rejoin.
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
  namespace: rabbitmq-system
spec:
  secretBackend:
    externalSecret:
      name: "rabbitmq-secret"
  replicas: 3
  resources:
    requests:
      cpu: "2"
      memory: 2Gi
    limits:
      cpu: "2"
      memory: 2Gi
  persistence:
    storageClassName: no-replicas
    storage: "15Gi"
