apiVersion: apps/v1
kind: Deployment
metadata:
  name: vllm-server
  annotations:
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/sync-options: Force=true,Replace=true
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vllm-server
  template:
    metadata:
      labels:
        app: vllm-server
    spec:
      runtimeClassName: nvidia
      nodeName: work-00
      imagePullSecrets:
        - name: docker-secret
      containers:
        - name: vllm-server
          image: docker.io/wjt40398/gearhawk:vllm-server-3b1b186
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          livenessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 600
            periodSeconds: 10
          volumeMounts:
            - name: vllm-storage
              mountPath: /data

          env:
            - name: NODE_ENV
              value: "production"
            - name: LABELING_BATCH_SIZE
              value: "75"
            - name: COMPARISON_BATCH_SIZE
              value: "50"
            - name: MODEL
              value: "cpatonn/InternVL3_5-14B-AWQ-4bit"
            - name: MAX_MODEL_LEN
              value: "14000"
            - name: GPU_MEMORY_UTILIZATION
              value: "0.9"
            - name: DEFAULT_MAX_TOKENS
              value: "10000"
            - name: DEFAULT_TEMPERATURE
              value: "0.7"

      volumes:
        - name: vllm-storage
          persistentVolumeClaim:
            claimName: vllm-pvc
