apiVersion: v1
kind: Service
metadata:
  name: vllm-server-svc
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  selector:
    app: vllm-server
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8081
  sessionAffinity: None
