apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

patches:
  - target:
      kind: Deployment
      name: signoz-otel-collector
    path: otel-collector-patch.yaml
# patchesJson6902:
#   - target:
#       group: apps
#       version: v1
#       kind: Deployment
#       name: signoz-otel-collector
#       namespace: signoz
#     path: ./otel-collector-patch.yaml
