.idea
*.DS_Store
charts/example
**/infra/**/charts

.terraform
output

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

*.lock.hcl

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.qcow2
*.raw

*.cert
*.key

*.pem
*.crt
*.txt
*.json
*.b64

*patch.sh
