apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
  - s3-aws-secret.yaml
  - no-replicas.yaml

helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.11.0
    releaseName: "longhorn"
    includeCRDs: true
    namespace: longhorn-system
    valuesFile: values.yaml
