#https://cert-manager.io/docs/installation/best-practice/#high-availability
crds:
  enabled: true
  keep: true
extraArgs:
  - "--enable-gateway-api"

replicaCount: 2
podDisruptionBudget:
  enabled: true
  minAvailable: 1
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi
webhook:
  replicaCount: 3
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 10m
      memory: 32Mi
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
cainjector:
  replicaCount: 2
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
