apiVersion: apps/v1
kind: Deployment
metadata:
  name: hono
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hono
  template:
    metadata:
      labels:
        app: hono
    spec:
      containers:
        - name: hono-container
          image: wjt40398/gearhawk:server
          imagePullPolicy: Always
          ports:
            - containerPort: 8787
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
              ephemeral-storage: "1Gi"
            limits:
              cpu: 4
              memory: 8Gi
              ephemeral-storage: "5Gi"
      imagePullSecrets:
        - name: docker-secret
