apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: database
  namespace: argocd
spec:
  sourceRepos:
    - "https://github.com/wtp43/gearhawk-lab"
  destinations:
    - namespace: "argocd"
      server: "*"
    - namespace: "cnpg-database"
      server: "*"
    - namespace: "cnpg-system"
      server: "*"
    - namespace: "cnpg-hatchet"
      server: "*"
    - namespace: "cnpg-infra"
      server: "*"
    - namespace: "cnpg-dev"
      server: "*"
    - namespace: "cnpg-data-warehouse"
      server: "*"
    - namespace: "typesense"
      server: "*"
    - namespace: "redis"
      server: "*"
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
