apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: gearhawk-postgres-app
  namespace: cnpg-database
  labels:
    cnpg.io/reload: "true"
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  itemPath: "vaults/gearhawk-k8s/items/gearhawk-postgres-app"
type: kubernetes.io/basic-auth

---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: gearhawk-pipeline-worker
  namespace: cnpg-database
  labels:
    cnpg.io/reload: "true"
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  itemPath: "vaults/gearhawk-k8s/items/gearhawk-pipeline-worker"
type: kubernetes.io/basic-auth

---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: gearhawk-postgres-superuser
  namespace: cnpg-database
  labels:
    cnpg.io/reload: "true"
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  itemPath: "vaults/gearhawk-k8s/items/gearhawk-postgres-superuser"
type: kubernetes.io/basic-auth

---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: signoz-owner
  namespace: cnpg-database
  labels:
    cnpg.io/reload: "true"
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  itemPath: "vaults/gearhawk-k8s/items/signoz-owner"
type: kubernetes.io/basic-auth
