apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubewall-system
resources: []
# resources:
#   - ns.yaml

# helmCharts:
#   - name: kubewall
#     repo: oci://ghcr.io/kubewall/charts
#     releaseName: kubewall
#     namespace: kubewall-system
#     includeCRDs: true
