global:
  cloud: other
  clusterName: talos
signoz:
  name: "signoz"
  replicaCount: 1
  service:
    type: ClusterIP
    port: 8080
    internalPort: 8085
    opampPort: 4320
  additionalArgs:
    - --use-logs-new-schema=true
    - --use-trace-new-schema=true
  env:
    signoz_alertmanager_signoz_external__url: https://signoz.gearhawk.io
    SIGNOZ_SQLSTORE_PROVIDER:
      value: postgres
    SIGNOZ_SQLSTORE_POSTGRES_DSN:
      valueFrom:
        secretKeyRef:
          name: signoz-secret
          key: db_url
clickhouse:
  resources:
    requests:
      cpu: 1000m
      memory: 2Gi
  # limits:
  #   cpu: 2000m
  #   memory: 4Gi
  persistence:
    storageClass: longhorn
    size: 50Gi
  service:
    type: NodePort

  files:
    # https://github.com/ClickHouse/ClickHouse/issues/66045
    users.d/default.xml: |
      <clickhouse>
        <profiles>
          <default>
            <allow_simdjson>0</allow_simdjson>
          </default>
        </profiles>
      </clickhouse>

otelCollector:
  name: "otel-collector"
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
            max_recv_msg_size_mib: 16
          http:
            endpoint: 0.0.0.0:4318
