apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pipeline-workers

resources:
  - ns.yaml
  - secrets.yaml
  - etl-worker.yaml
  - image-worker.yaml
  - inference-worker.yaml
  - crawler.yaml
