apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pipeline-workers

resources:
  - ns.yaml
  - docker-secret.yaml
  # - db-importer-cron.yaml
  # - woocommerce-crawler-cron.yaml
  # - typesense-importer-cron.yaml
