apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: monitoring
  namespace: argocd
spec:
  sourceRepos:
    - "https://github.com/wtp43/gearhawk-lab"
    - "https://prometheus-community.github.io/helm-charts"
    - "https://charts.signoz.io"
  destinations:
    - namespace: "argocd"
      server: "*"
    - namespace: "kube-system"
      server: "*"
    - namespace: "monitoring"
      server: "*"
    - namespace: "kubewall-system"
      server: "*"
    - namespace: "healthchecks"
      server: "*"
    - namespace: "signoz"
      server: "*"
    - namespace: "prometheus-stack"
      server: "*"
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
