apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cnpg-system

resources:
  - ns.yaml
  # barman cloud plugin for cnpg backups
  - https://github.com/cloudnative-pg/plugin-barman-cloud/releases/download/v0.4.0/manifest.yaml

helmCharts:
  - name: cloudnative-pg
    repo: https://cloudnative-pg.github.io/charts
    releaseName: cnpg
    namespace: cnpg-system
    includeCRDs: true
    version: 0.27.1 # do not upgrade https://github.com/cloudnative-pg/cloudnative-pg/issues/9474, need to fix Pooler TLS configuratino

