global:
  cloud: other
  clusterName: talos
signoz:
  name: "signoz"
  replicaCount: 1
  image:
    registry: docker.io
    repository: signoz/signoz
    tag: v0.101.0
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
    internalPort: 8085
    opampPort: 4320
  additionalArgs:
    - --use-logs-new-schema=true
    - --use-trace-new-schema=true
  env:
    SIGNOZ_SQLSTORE_PROVIDER:
      value: postgres
    SIGNOZ_SQLSTORE_POSTGRES_DSN:
      valueFrom:
        secretKeyRef:
          name: signoz-secret
          key: db_url
clickhouse:
  resources:
    limits:
      cpu: 2000m
      memory: 4Gi
    requests:
      cpu: 1000m
      memory: 2Gi
  files:
    # https://github.com/ClickHouse/ClickHouse/issues/66045
    users.d/default.xml: |
      <clickhouse>
        <profiles>
          <default>
            <allow_simdjson>0</allow_simdjson>
          </default>
        </profiles>
      </clickhouse>
